.home
	margin: 0
	padding: 0
	background-image: url(/img/bean2.jpg)
	background-size: cover
	display: flex
	height: 100vh
	align-items: center
	justify-content: center
	color: white

	.homeTitle
		padding: 0
		text-align: center

		h2
			margin: 0
			padding: 0

		h1
			margin: 0
			padding: 0
