.siteFooter
	height: 200px
	display: flex
	justify-content: center
	align-items: center
	background: #262626
	flex-direction: column

	p
		color: white
		text-align: center

		a
			color: white
			border: bottom solid 2px white
