.homeFlex
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column

	span
		background: pink
		min-height: 200px
		width: 80%
		margin: 50px 50px

	img
		height: 200px
		width: 80%
		margin: 50px 0

@media (min-width: 775px)
	.homeFlex
		flex-direction: row
