.menuPageHeader
	padding-top: 80px

	.menuTitle
		font-size: 25px
		text-align: center

	.menuPages
		display: flex
		overflow: hidden
		justify-content: center
		text-align: center
		margin: 25px 0
		z-index: 2

		h3
			cursor: pointer
			border-bottom: 2px solid #262626
			margin: 0 10px
			font-size: 13px
			transition: all 0.3s ease-in-out

			&:hover
				color: $gold
				border-bottom: 2px solid $gold

.menuLayout
	padding: 50px 20px
	height: 500px

	#breakfastMenu, #lunchMenu, #dinnerMenu
		display: flex
		width: 100%
		position: absolute

		.menuSection
			padding: 0 10px
			max-width: 550px
			display: flex
			width: 100%
			justify-content: center
			align-items: center
			flex-direction: column

			&:nth-child(2)
				padding-top: 30px

			h4
				margin-bottom: 10px
				font-size: 12px

			.inlineTitle
				padding-top: 20px

			.menuItem
				font-size: 14px
				padding: 15px 20px
				width: 100%
				max-width: 550px
				box-sizing: border-box

				.menuDescription
					font-size: 12px

				.leaders
					background: radial-gradient(#262626 1px, white 0px)
					background-size: 8px 8px
					background-repeat: repeat-x
					background-position: left bottom

					span
						font-family: $headerFont
						font-weight: 600
						height: 18px
						background: white

					span:nth-child(2)
						float: right
						padding: 0 0 0 5px

.menuItem.highlight
	border: 2px solid #262626

#lunchMenu.noShow
	opacity: 0

#dinnerMenu.noShow
	opacity: 0

// #breakfastMenu.active
	// display: flex
// 	justify-content: center
// 	align-items: center
// 	flex-direction: column
// //
//
// #lunchMenu.active
// 	display: flex
// 	justify-content: center
// 	align-items: center
// 	flex-direction: column
// 	filter: opacity(100)
//
// #dinnerMenu.active
// 	display: flex
// 	justify-content: center
// 	align-items: center
// 	filter: opacity(100)
// 	flex-direction: column

h3.active
	color: $gold
	border-bottom: 2px solid $gold!important

@media (min-width: 800px)
	.menuPages
		transform: translateX(-14px)

	.menuLayout

		#breakfastMenu, #lunchMenu, #dinnerMenu
			flex-direction: row
			justify-content: center

			.menuSection:nth-child(2)
				padding-top: 0

		.dinnerMenu
			.menuSection:nth-child(1)
				margin-bottom: 68px

		.lunchMenu
			.menuSection:nth-child(1)
				margin-bottom: 68px

		.breakfastMenu
			.menuSection:nth-child(1)
				margin-bottom: 45px
