.menuLayout
	padding: 5px 5px

	.menuSection
		// max-width: 600px

	ul

		.menuItem
			padding: 15px 20px
			max-width: 550px
			box-sizing: border-box
			margin: 0 0 20px 0

			.menuDescription
				// padding: 10px 0 0 0
				font-size: 12px

			.leaders
				background: radial-gradient(#262626 1px, white 0px)
				background-size: 8px 8px
				background-repeat: repeat-x
				background-position: left bottom

				span
					height: 18px
					background: white

				span:nth-child(2)
					float: right
					padding: 0 0 0 5px

.menuItem.highlight
	border: 2px solid #262626
