.parallax
	background: linear-gradient(rgba(36, 36, 36, 0.3), rgba(36, 36, 36, 0.3)), url(/img/machineTwo.jpg)
	background-repeat: no-repeat
	background-size: cover
	height: 600px
	width: 100%

	.flex
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
		height: 600px
		width: 100%
		color: white
		text-align: center

		p
			font-family: $cursiveFont
			font-size: 20px

		h2
			font-family: $headerFont
			font-weight: 600
			font-size: 40px

.parallax.second
	background: linear-gradient(rgba(36, 36, 36, 0.3), rgba(36, 36, 36, 0.3)), url(/img/espressoMachine.jpg)
	background-repeat: no-repeat
	background-size: cover

@media (min-width: 775px)
	.parallax
		background-attachment: fixed

	.parallax.second
		background-attachment: fixed
