.siteLinks
	background: rgba(36, 36, 36, 0.96)
	padding: 50px 0
	display: flex
	justify-content: center
	color: white

	.address
		padding: 0 10px

		p
			font-size: 14px

	.hours
		padding: 0 10px

		p
			font-size: 14px

	.footerLinks
		padding: 0 10px

		p
			font-size: 14px
