#welcome
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	margin: 50px 10%

	span
		background: pink
		height: 400px
		width: 600px
		margin: 50px 50px

	img
		height: 400px
		width: 600px
		margin: 50px 50px

@media (min-width: 775px)
	#welcome
		flex-direction: row
