html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }

ul {
  margin: 0;
  padding: 0; }

p {
  margin: 0; }

h1 {
  margin: 0; }

h2 {
  margin: 0; }

h3 {
  margin: 0; }

h4 {
  margin: 0; }

.desktopNav {
  display: none; }

.mobileNav {
  width: 100%;
  height: 50px;
  background: white;
  position: fixed; }
  .mobileNav img {
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 75px;
    width: 75px; }
  .mobileNav #mobileNavBurger {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 10px 0 0; }
    .mobileNav #mobileNavBurger span,
    .mobileNav #mobileNavBurger span:before,
    .mobileNav #mobileNavBurger span:after {
      content: "";
      display: block;
      background-color: black;
      height: 3px;
      width: 30px;
      position: relative;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .mobileNav #mobileNavBurger span:before {
      top: 10px; }
    .mobileNav #mobileNavBurger span:after {
      top: -13px; }
    .mobileNav #mobileNavBurger.isOpen span {
      background: transparent; }
    .mobileNav #mobileNavBurger.isOpen span:before,
    .mobileNav #mobileNavBurger.isOpen span:after {
      -webkit-transform-origin: center;
              transform-origin: center;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      top: 0; }
    .mobileNav #mobileNavBurger.isOpen span:after {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      top: -3px; }
  .mobileNav #mobileNavSlider {
    position: fixed;
    height: 100%;
    width: 80%;
    background: #262626;
    -webkit-filter: opacity(0.8);
            filter: opacity(0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
    .mobileNav #mobileNavSlider ul {
      padding: 50px 0 0 20px; }
      .mobileNav #mobileNavSlider ul li a {
        display: block;
        padding: 10px 0;
        color: white; }
    .mobileNav #mobileNavSlider .mobileSocialLinks {
      padding: 0 0 20px 20px; }
      .mobileNav #mobileNavSlider .mobileSocialLinks a {
        border: 3px solid white;
        font-size: 20px;
        padding: 5px 10px;
        color: white; }
        .mobileNav #mobileNavSlider .mobileSocialLinks a i {
          text-align: center;
          width: 20px; }

#mobileNavSlider.isOpen {
  -webkit-transform: translateX(0);
          transform: translateX(0); }

@media (min-width: 775px) {
  .mobileNav {
    display: none; }
  .desktopNav {
    display: block; }
    .desktopNav img {
      position: absolute;
      height: 100px;
      width: 100px;
      cursor: pointer; }
    .desktopNav ul {
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      display: block; }
      .desktopNav ul li {
        display: inline-block; }
        .desktopNav ul li a {
          padding: 15px 30px;
          color: white;
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
          cursor: pointer;
          display: block;
          transition: 0.3s ease-in-out; }
          .desktopNav ul li a:hover {
            color: blue; }
    .desktopNav .socialLinks {
      position: absolute;
      right: 0;
      top: 0;
      padding: 15px 0 20px 20px;
      cursor: pointer; }
      .desktopNav .socialLinks a {
        font-size: 20px;
        padding: 5px 10px;
        color: white;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out; }
        .desktopNav .socialLinks a:hover {
          color: blue; }
        .desktopNav .socialLinks a i {
          text-align: center;
          width: 20px; } }

.desktopNav ul li.activeMenu {
  color: blue; }

#home {
  height: 100vh;
  background: url(/img/homeImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  #home h1 {
    color: white;
    margin: 0; }

.homeFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 0; }
  .homeFlex span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #f1f1f1;
    height: 200px;
    width: 80%;
    margin: 20px 20px;
    padding: 10px 10px;
    box-sizing: border-box; }
  .homeFlex img {
    height: 200px;
    width: 80%;
    margin: 20px 20px; }

@media (min-width: 400px) {
  .homeFlex span {
    height: 225px; }
  .homeFlex img {
    height: 225px; } }

@media (min-width: 475px) {
  .homeFlex span {
    height: 250px; }
  .homeFlex img {
    height: 250px; } }

@media (min-width: 550px) {
  .homeFlex span {
    height: 275px; }
  .homeFlex img {
    height: 275px; } }

@media (min-width: 620px) {
  .homeFlex span {
    height: 300px; }
  .homeFlex img {
    height: 300px; } }

@media (min-width: 700px) {
  .homeFlex span {
    height: 325px; }
  .homeFlex img {
    height: 325px; } }

@media (min-width: 775px) {
  .homeFlex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .homeFlex span {
      width: 40%;
      height: 200px; }
    .homeFlex img {
      width: 40%;
      height: 200px; }
  .homeFlex.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; } }

@media (min-width: 950px) {
  .homeFlex span {
    height: 250px; }
  .homeFlex img {
    height: 250px; } }

@media (min-width: 1100px) {
  .homeFlex span {
    height: 300px; }
  .homeFlex img {
    height: 300px; } }

@media (min-width: 1250px) {
  .homeFlex span {
    height: 350px; }
  .homeFlex img {
    height: 350px; } }

@media (min-width: 1500px) {
  .homeFlex span {
    width: 600px;
    height: 400px; }
  .homeFlex img {
    width: 600px;
    height: 400px; } }

.parallax {
  background: -webkit-linear-gradient(rgba(36, 36, 36, 0.3), rgba(36, 36, 36, 0.3)), url(/img/shop.jpg);
  background: linear-gradient(rgba(36, 36, 36, 0.3), rgba(36, 36, 36, 0.3)), url(/img/shop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%; }
  .parallax .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 400px;
    width: 100%;
    color: white;
    text-align: center; }

.parallax.second {
  background: -webkit-linear-gradient(rgba(36, 36, 36, 0.3), rgba(36, 36, 36, 0.3)), url(/img/espressoMachine.jpg);
  background: linear-gradient(rgba(36, 36, 36, 0.3), rgba(36, 36, 36, 0.3)), url(/img/espressoMachine.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%; }

@media (min-width: 775px) {
  .parallax {
    background-attachment: fixed; }
  .parallaxTwo {
    background-attachment: fixed; } }

.siteLinks {
  background: rgba(36, 36, 36, 0.96);
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white; }
  .siteLinks p {
    margin: 0; }

.siteFooter {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #262626;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .siteFooter p {
    color: white;
    text-align: center; }
    .siteFooter p a {
      color: white;
      border: bottom solid 2px white; }
